In [1]:
student = {
'name': '김민수',
'age': 20,
'major': '컴퓨터공학'
}
print(f"학생 정보 딕셔너리: {student}")
name = student['name']
print(f"이름: {name}")
age = student['age']
print(f"나이: {age}")
major = student['major']
print(f"전공: {major}")

학생 정보 딕셔너리: {'name': '김민수', 'age': 20, 'major': '컴퓨터공학'}
이름: 김민수
나이: 20
전공: 컴퓨터공학

In [2]:
student = {
'name': '김민수',
'age': 20,
'major': '컴퓨터공학'
}
print(f"원래 학생 정보 딕셔너리: {student}")
student['grade'] = 4.0 # 새로운 키 'grade'와 값 추가
print(f"요소 추가 후 딕셔너리: {student}")
del student['major'] # 키 'major'와 값 삭제
print(f"요소 삭제 후 딕셔너리: {student}")

원래 학생 정보 딕셔너리: {'name': '김민수', 'age': 20, 'major': '컴퓨터공학'}
요소 추가 후 딕셔너리: {'name': '김민수', 'age': 20, 'major': '컴퓨터공학', 'grade': 4.0}
요소 삭제 후 딕셔너리: {'name': '김민수', 'age': 20, 'grade': 4.0}

In [3]:
성적 = [85, 92, 78, 90, 87]
평균 = sum(성적) / len(성적)  # 86.4

In [10]:
score = [85, 92, 78, 90, 87]
scsum = sum(score)
sclen = len(score)
scmean = sum(score) / len(score)
print(scmean)

86.4

In [11]:
학생들 = [("철수", 85), ("영희", 92), ("민수", 65), ("지영", 78)]
합격자 = []

for 학생, 점수 in 학생들:
    if 점수 >= 70:
        합격자.append(학생)

print(합격자)  # ['철수', '영희', '지영']

['철수', '영희', '지영']

In [15]:
numbers = [1, 5, 12, 8, 21]
print("숫자 리스트의 요소:")

for num in numbers:
    print(num)  # 들여쓰기 추가

숫자 리스트의 요소:
1
5
12
8
21